@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&family=Poppins:wght@200;300;400;600&display=swap');

html{
	box-sizing: border-box;
}
  
*, *::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--fontHead: 'Montserrat', sans-serif;
	--fontInfo: 'Poppins', sans-serif;
	--pluggRed: rgba(220, 20, 37, 0.97);
	--pluggBlack: rgba(0, 0, 0, 0.877);
	--pluggGrey: hsl(0, 1%, 34%);
	--pluggGreen: #629D23;
	--navBarHeight: 38px;
}

body{
	font-family: var(--fontInfo);
	background-color: hsl(0, 0%, 98%);
	color: var(--pluggGrey);
}

a {
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

.navBar {
	position: fixed;
	top: 0; 
	width: 100%;
	border-radius: 0 0.25rem 0.25rem 0;
	z-index: 9999;
	height: var(--navBarHeight);
	display: flex;
	align-items: center;
	text-decoration: none;
	overflow: hidden;
	background: var(--pluggRed);
	color: white;
}

.topNav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 10vw;
	height: 6rem;
	border-radius: 8px;
}

.topNav:hover{
	background: rgb(235, 235, 235);

}

.navLeft {
	margin-left: 2rem;
	text-decoration: none;
}

.navLeft:hover {
	transform: translateY(1px);
}

.brandLogo {
	height: 40px;
}

.navRight {
	width: 150px;
	font-family: var(--fontInfo);
	font-size: 12px;
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 4rem;
	justify-content: space-between;
}

.navRight a:hover {
	transform: translateY(1px);
}

.badgeCart {
	color: white/*var(--pluggRed)*/; 
	font-weight: bolder;
}

.categoriesParent {
	height: 60vh;
	overflow-y: auto;
	scrollbar-width: normal;
	scrollbar-color: red;
}

.slick-prev {
	left: 3% !important;
	z-index: 1;
}

.slick-next {
	right: 3% !important;
	z-index: 1;
}

.slick-slide div {
	height: 80vh !important;
	align-content: center;
	text-align: center;
	background-size: cover;
}

.perksContainer {
	height: 35vh;
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 16px;
	padding-block: 40px;
	padding-right: 30px;
	padding-left: 20px;
	background-color: rgb(242, 242, 242);
}

.perksCard {
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.perksCard h4 {
	color: green;
}

.perksIcon {
	width: 30%;
	justify-content: center;
	align-items: center;
}

.discountsDiv {
	height: 35vh !important;
	display: grid;
	grid-gap: 20px;
	padding-inline: 20px;
	grid-template-columns: 1fr 1fr;
	margin-top: 50px !important;
}

.discountCard1 {
	border-radius: 8px;
	padding: 20px;
	background-image: url("./images/top-banner-01.jpg");
	background-size: cover;
}

.discountCard2 {
	border-radius: 8px;
	padding: 20px;
	background-image: url("./images/top-banner-02.jpg");
	background-size: cover;
}

.blogPostParent {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	padding-inline: 10px;
	margin-block: 40px;
}

.blogPostChild {
  border: 1px solid #E2E2E2;
  border-radius: 6px;
}

.blogPostChild .thumbnail {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 300px;
  border-radius: 8px 8px 0 0;
}

.blogPostChild .blogText {
	height: 100px;
	overflow: hidden;
	margin-bottom: 20px;
}

.blogPostChild .blog-body {
	padding: 20px;
}


.discountsDiv {
	height: 40vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-block: 20px;
}

.discountCard {
	border: 1px solid grey;
	border-radius: 8px;
	padding: 20px;
	margin: 10px;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.product{
	border-radius: 0 0 4px 4px;
}

.productCard {
	width: 285px;
	height: 60%;
	border-radius: 5px;
	margin: 8px;
	padding: 2rem;
	background-color: white;

}

.productCard:hover {
	box-shadow: 1px 1px 4px 1px rgb(224, 224, 224);

}

.productImg{
	position: relative;
	width: 100%;
	height: 230px;
	padding: 20px;
	border-radius: 8px 8px 0 0;
	background-size: cover;
}

.productCardInfo {
	padding-inline: 20px;
	width: 100%;
	height: 200px;
	border-radius: 8px;
	margin-bottom: 8px;
}

.productCardInfo:hover {
	color: green;
}

.addBtn {
	height: 3rem;
	width: 70px;
	background: rgb(239, 239, 239);
	border-radius: 5px;
	font-size: 12px;
	display: flex;
	align-self: right;
	align-items: center;
	justify-content: center;
	margin-bottom: 3rem;
}

.addBtn:hover {
	cursor: pointer;
	background: rgba(1, 135, 1, 0.557);
	color: white;
}

.productDetailImg {
	width: 30%;
}

.showContent {
	display: block;
}

.hideContent {
	display: none;
}

.productDetailTabs {
	list-style: none;
}

.activeTab {
	background-color: var(--pluggGreen);
	color: white !important;
}

.horizontalBanner {
	display: flex;
	flex-direction: row;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}

.hidden{
	display: none!important;
}

.account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.account-heading {
	font-size: 2.5rem;
}

.paginationDiv {
	display: inline-flex;
	list-style: none;
	margin-left: 30%;
	justify-content: space-between;
} 

.paginationDiv a {
	margin-inline: 4px;
}

.paginationDiv li:hover {
	cursor: pointer;
}

.paginationActive {
	color: white;
	background-color: var(--pluggRed);
	border-radius: 5px;
}


